#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all-pokemon-wrapper {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}

.pokemon-wrapper,
.score-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  background-color: rgba(255, 255, 255, 0.068);
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.pokemon-wrapper:hover {
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 12px 24px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.226);
}

.pokemon-wrapper:active {
  background-color: rgba(255, 255, 255, 0.37);
  user-select: none;
}

.score-wrapper {
  margin-bottom: 100px;
  margin-top: 50px;
}
